# app name
APP_NAME="The Financial Express"

# app short name
APP_SHORT_NAME="FinancialExpress"

# app url
APP_URL=https://beta.thefinancialexpress.com.bd

# cdn url
CDN_URL=https://tfe-bd.sgp1.cdn.digitaloceanspaces.com/_nuxt

# api base url
API_BASE_URL=https://beta-api.thefinancialexpress.com.bd

API_FAKE_URL=https://jsonplaceholder.typicode.com
GOOGLE_ANALYTICS_KEY="G-S2JHL9S4HZ"

#Bangla content section
BANGLA_APP_URL=https://bangla.thefinancialexpress.com.bd
BANGLA_API_URL=https://apibangla.thefinancialexpress.com.bd