header {
  background-color: rgb(255 241 230 / var(--tw-bg-opacity));
}

.dark header {
  background-color: rgb(38 50 56 / var(--tw-bg-opacity));
}

#home-category-bangla h3 a {
  padding-bottom: 1px;
  font-size: 1rem;
}

#home-category-bangla p {
  font-size: 0.9rem;
}

.more-column-heading {
  font-size: 1.25rem !important;
  padding: 0.5rem 1rem;
}

.post-details {
  line-height: 1.5 !important;
}

/* Slick  */
.slick-prev,
.slick-next {
  /* background: #f2dfce !important; */
  background: rgba(0, 0, 0, 0.5) !important;
}

.slick-prev:before,
.slick-next::before {
  /* color: #455363 !important; */
  color: #fff !important;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
  background: rgba(0, 0, 0, 0.7) !important;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  display: none !important;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  display: block !important;
}

.slick-slider figcaption {
  bottom: 0;
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(0deg, #05000f, #1c1a21, #2f2c34, #434048, #58565c, #6d6c71, #848287, #9b9a9e, #b3b2b6, #cccbce, #e5e5e6, #ffffff); */
}

sup,
super {
  top: -2.5em;
}

.caption-wrapper sup,
.caption-wrapper super {
  line-height: 1 !important;
}

.inner-ads {
  width: 300px;
  height: 300px;
  float: right;
}

/* Start google programmable search style */
.gsc-control-cse {
  background-color: transparent !important;
  border: transparent !important;
}

.gsc-input-box {
  border: 1px solid #3c4c5d !important;
  background-color: #fef1e6 !important;
  border-radius: 0.375rem !important;
  /*   
  background-color: transparent !important;
  border: transparent !important; */
}

.gsib_a {
  padding: 0 !important;
}

.gssb_c {
  color: #3c4c5d !important;
}

input.gsc-input {
  padding: 20px !important;
  border: transparent !important;
  background-color: transparent !important;
  border-radius: 0.375rem !important;
  background: none !important;
  color: #3c4c5d !important;
}

input.gsc-input:focus {
  border: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.gsc-input-box:focus {
  border: 2px solid #3c4c5d !important;
}

/* input.gsc-input:focus {
  border: 2px solid #3c4c5d !important;
  box-shadow: none !important;
} */
.gsc-search-button-v2 {
  background-color: #3c4c5d !important;
  border-radius: 0.375rem !important;
  border: transparent !important;
  padding: 10px 30px !important;
  margin-left: 10px !important;
}

.gsc-results-wrapper-visible {
  padding: 0 !important;
  top: 18% !important;
}

.gsc-results-close-btn {
  z-index: 999;
  top: 15px;
  color: #fff;
}

.gsc-tabsArea {
  margin: 0 !important;
  padding: 15px 15px 0;
  background: #3c4c5d;
  border: transparent !important;
}

.gsc-refinementHeader {
  background-color: transparent !important;
}

.gsc-wrapper {
  padding: 0 15px;
}

.gsc-above-wrapper-area {
  padding: 0 15px !important;
}

.gsc-tabHeader,
.gsc-tabhInactive {
  color: #fff !important;
  background-color: transparent !important;
}

.gsc-tabHeader.gsc-tabhActive {
  background-color: transparent !important;
}

.gsc-above-wrapper-area {
  border-bottom: transparent !important;
}

.gsc-above-wrapper-area {
  border: none !important;
}

.gs-web-image-box .gs-image {
  border: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  background-color: transparent !important;
}

.gsc-webResult.gsc-result {
  background-color: transparent !important;
  border-color: transparent !important;
}

.gcsc-find-more-on-google {
  display: none !important;
}


.dark .gsc-refinementsArea {
  border-bottom: 1px solid #3c4c5d !important;
}

.dark .gsc-input-box {
  border: 1px solid #3c4c5d !important;
  background-color: #263238 !important;
}

.dark .gsc-search-box input.gsc-input {
  color: #fff !important;
}

.dark .gsc-webResult.gsc-result:hover {
  border-color: transparent !important;
}

.dark .gs-title {
  color: #fff !important;
}

.dark .gsc-thumbnail-inside b {
  color: #fff !important;
}

.dark .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet {
  color: #cfcbcb !important;
}

/* End google programmable search style */

/* Start top, footer popup modal style */
.popup-ad-modal {
  display: block;
  width: 100%;
  height: 106px;
  clear: none;
  float: none;
  left: 0px;
  margin: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  overflow: visible;
  padding: 1px 0;
  position: fixed;
  visibility: visible;
  z-index: 2147483647;
  background: rgb(250, 250, 250);
}

.footer-popup {
  bottom: 0px;
  right: auto;
  top: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  animation: footer-popup-up 2s ease-in-out;
}

.footer-popup .up {
  display: none;
}

.footer-popup .down {
  display: inline-block;
}

.popup-ads-container img {
  height: 105px;
  width: 100%;
}

.footer-minimize-btn {
  color: #616161;
  position: absolute;
  top: auto;
  right: auto;
  background: #fafafa;
  padding: 2px 10px;
  border-radius: 5px 5px 0 0;
  min-width: 80px;
  left: 0;
  bottom: 126px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 2px -2px 3px -1px, rgba(0, 0, 0, 0.1) 0px 0px 0px -1px;
}

.footer-popup-down {
  bottom: -120px;
  animation: footer-popup-down 2s alternate;
}

.footer-popup-down .down {
  display: none;
}

.footer-popup-down .up {
  display: inline-block;

}

.popup-ads-container {
  margin: 0 9%;
  text-align: center;
}

.top-popup {
  bottom: auto;
  right: auto;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -6px 8px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  animation: top-popup-up 2s ease-in-out;
}

.top-minimize-btn {
  color: #616161;
  position: absolute;
  right: 0;
  background: #fafafa;
  padding: 2px 10px;
  border-radius: 0 0 5px 5px;
  min-width: 80px;
  top: 105px;
  min-height: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.top-popup .up {
  display: inline-block;
}

.top-popup .down {
  display: none;
}

.top-popup-down {
  top: -120px;
  animation: top-popup-down 2s alternate;
}

.top-popup-down .down {
  display: inline-block;
}

.top-popup-down .up {
  display: none;
}



@keyframes footer-popup-up {
  0% {
    bottom: -120px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes footer-popup-down {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -120px;
  }
}


@keyframes top-popup-up {
  0% {
    top: -120px;
  }

  100% {
    top: 0;
  }
}

@keyframes top-popup-down {
  0% {
    top: 0px;
  }

  100% {
    top: -115px;
  }
}

/* .adsbygoogle-noablate {
  display: none !important;
} */
/* End top, footer popup modal style */

@media only screen and (max-width: 679px) {
  input.gsc-input {
    padding: 0 !important;
  }

  .popup-ads-container {
    margin: 0 10%;
  }
}